<mat-toolbar color="primary" class="header-toolbar">
    <!-- Left Section: Logo + Links -->
    <div class="header-left">
    <h1>Secret Stories</h1>
      <!-- <img src="assets/logo.png" alt="Secrates Logo" class="logo" /> -->
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/features">Features</a>
    </div>
  
    <!-- Right Section: Spacer + Buttons -->
    <span class="spacer"></span>
  
    <div class="header-right">
      <button mat-raised-button color="accent" routerLink="/signup">Sign Up</button>
    </div>
  </mat-toolbar>
  